.b-screenshots__title {
  text-align: center;
  color:  $baseFontColor;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 26px;
  @media (min-width: 0px) and (max-width: 424px) {
  font-size: 20px;
}
}