@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?th07u');
    src:  url('fonts/icomoon.eot?th07u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?th07u') format('truetype'),
    url('fonts/icomoon.woff?th07u') format('woff'),
    url('fonts/icomoon.svg?th07u#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-google-with-circle:before {
    content: "\e900";
    color: #6c6c6c;
    font-size: 28px;
}
.icon-twitter-with-circle:before {
    content: "\e901";
    color: #6c6c6c;
    font-size: 28px;
}
.icon-pinterest-with-circle:before {
    content: "\e902";
    color: #6c6c6c;
    font-size: 28px;
}
.icon-facebook-with-circle:before {
    content: "\e903";
    color: #6c6c6c;
    font-size: 28px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url("img/slider.jpg");
    position: relative;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    margin-top: 63px;
}

.menu {
    display: flex;
    list-style-type: none;
    margin-top: 57px;
    margin-right: 79px;
    flex-wrap: wrap;
}

.menu a {
    padding: 10px 13px;
    display: block;
    color:  #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    text-decoration: none;
}

.menu a:hover {
    color: #212121;
}

.menu .active-link {
    color:  #212121;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: right;
    border-bottom: 3px solid #212121;
}

.slider-text {
    margin-top: 283px;
}

.slider-text p {
    width: 458px;
    color:  #6c6c6c;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-top: 10px;
    margin-bottom: 32px;
}

.slider-text h4 {
    color:  #43a047;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.slider-text h2 {
    color:  #212121;
    font-size: 62px;/* Приближение из-за подстановки шрифтов */
    font-weight: 100;
    line-height: 72px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-transform: uppercase;
    letter-spacing: -4px;
}

.slider-text a {
    display: inline-block;
    border-radius: 22.5px;
    background-color:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    text-align: center;
    padding: 10px 31px;
    text-decoration: none;
    color:  #212121;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
}

.slider-text a:hover {
    background-color: #f9f9f9;
    box-shadow: 0 4px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}

.slider-text a:active {
    box-shadow: 0 0 4.85px 0.15px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
}

.box-circle {
    display: flex;
    position: absolute;
    bottom: 19px;
    width: 1170px;
    justify-content: center;
    align-items: center;
}

.circle {
    display: block;
    background-color:  rgba(33, 33, 33, 0.2);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle-active {
    background-color:  #212121;
    width: 40px;
    height: 40px;
}


.navi-new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 99px;
}

.navi-left {
    display: flex;
}

.navi-new .explore {
    color:  #212121;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.navi-new .explore:hover {
    color: #6c6c6c;

}

.navi-left a {
    display: block;
    text-decoration: none;
    padding: 21px 21px 21px 9px;
    color:  #6c6c6c;
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    border-bottom: 1px solid #6c6c6c;
}

.navi-new a:hover {
    color: #212121;
}

.navi-left .active-link {
    color:  #212121;
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    border-bottom: 3px solid #212121;
}

.product {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.item {
    position: relative;
}

.product-hover {
    border: 1px solid #9c9c9c;
    background-color:  #ffffff;
    opacity: 0.9;
    width: 268px;
    height: 268px;
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    display: none;
}

.item:hover .product-hover {
    display: block;
}

.product-hover a {
     display: inline-block;
     border-radius: 50%;
     background-color:  #ffffff;
     box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
     width: 48px;
     height: 38px;
     padding-top: 10px;
     text-align: center;
     margin-top: 62px;
     color: #212121;
     font-size: 21.91px;/* Приближение из-за подстановки шрифтов */
     font-weight: 700;
     line-height: 30px;/* Приближение из-за подстановки шрифтов */
     text-decoration: none;
     text-transform: uppercase;
 }

.product-hover a:hover {
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.60);
}

.product-hover p {
    color:  #6c6c6c;
    font-size: 13.94px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 22px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleX(1.0041);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}

.product-hover h3 {
    color:  #212121;
    font-size: 21.91px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 30px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleX(1.0041);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
    margin-top: 16px;
    margin-bottom: 16px;
}

.promo {
    display: flex;
    margin-top: 120px;
}

.promo-1 {
    width: 683px;
    height: 683px;
    background-image: url("img/promo-img1.jpg");
}

.promo-2 {
    background-image: url("img/promo-img.jpg");
    width: 683px;
    height: 683px;
}

.promo-text {
    margin-top: 200px;
    margin-left: 51px;
}

.promo-text a {
    display: inline-block;
    border-radius: 22.5px;
    background-color:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    text-align: center;
    padding: 10px 31px;
    text-decoration: none;
    color:  #212121;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
}

.promo-text a:hover {
    background-color: #f9f9f9;
    box-shadow: 0 4px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}

.promo-text a:active {
    box-shadow: 0 0 4.85px 0.15px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
}
.promo-text p {
    width: 374px;
    color:  #6c6c6c;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-top: 10px;
    margin-bottom: 32px;
}

.promo-text h4 {
    color:  #1e88e5;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-transform: uppercase;
}

.promo-text h2 {
    color:  #212121;
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
}

.trend {
    display: flex;
    margin-bottom: 49px;
    justify-content: space-between;
    align-items: center;
    padding-top: 99px;
}

.trend h2 {
    color:  #212121;
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
}

.trend .explore {
    margin-left: 661px;
    color:  #212121;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.trend .explore:hover {
    color: #6c6c6c;
}

.trend-items {
    display: flex;
    flex-wrap: wrap;
    padding-left: 83px;
    padding-right: 83px;
}

.trend-items .item {
    margin: 15px;
}

.trend-hover {
    border: 1px solid #9c9c9c;
    background-color:  #ffffff;
    opacity: 0.9;
    width: 368px;
    height: 368px;
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    display: none;
}
.item:hover .trend-hover {
    display: block;
}

.trend-hover a {
    display: inline-block;
    border-radius: 50%;
    background-color:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 38px;
    padding-top: 10px;
    text-align: center;
    margin-top: 92px;
    color: #212121;
    font-size: 21.91px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 30px;/* Приближение из-за подстановки шрифтов */
    text-decoration: none;
    text-transform: uppercase;
}

.trend-hover a:hover {
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.60);
}

.trend-hover p {
    color:  #6c6c6c;
    font-size: 13.94px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 22px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleX(1.0041);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}

.trend-hover h3 {
    color:  #212121;
    font-size: 21.91px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 30px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleX(1.0041);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
    margin-top: 16px;
    margin-bottom: 16px;
}

.hot {
    margin-top: 120px;
    height: 513px;
    background-image: url("img/hot-slider.jpg");
    padding-top: 287px;
    position: relative;
}

.hot-text a {
    display: inline-block;
    border-radius: 22.5px;
    background-color:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    text-align: center;
    padding: 10px 31px;
    text-decoration: none;
    color:  #212121;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
}

.hot-text a:hover {
    background-color: #f9f9f9;
    box-shadow: 0 4px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}

.hot-text a:active {
    box-shadow: 0 0 4.85px 0.15px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
}

.hot h4 {
    color:  #e53935;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    letter-spacing: 1px;
}

.hot h2 {
    color:  #212121;
    font-size: 62px;/* Приближение из-за подстановки шрифтов */
    font-weight: 100;
    line-height: 72px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-transform: uppercase;
    letter-spacing: -4px;
}

.hot p {
    width: 458px;
    color:  #6c6c6c;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-top: 10px;
    margin-bottom: 32px;
}

.exclusive {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    justify-content: space-between;
}

.exclusive-text {
    background-image: url("img/product-1-lg.jpg");
    width: 570px;
    height: 570px;
}

.exclusive-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 570px;
    height: 570px;
    justify-content: space-between ;
    align-content: space-between;
}

.exclusive-items .item {
    width: 270px;
    height: 270px;
}

.mobile {
    background-image: url("img/back-img.jpg");
    height: 516px;
    margin-top: 120px;
}

.mobile-text {
    padding-top: 125px;
    width: 470px;
}

.mobile-text p {
    color:  #6c6c6c;
    font-size: 22px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-top: 10px;
    margin-bottom: 32px;
}

.mobile-text h4 {
    color:  #6c6c6c;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-transform: uppercase;
}

.mobile-text h2 {
    color:  #212121;
    font-size: 62px;/* Приближение из-за подстановки шрифтов */
    font-weight: 100;
    line-height: 72px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-transform: uppercase;
    letter-spacing: -4px;
}

.mobile-text a {
    margin: 2px;

}

.mobile-text a:hover {
    filter: sepia(90%);
}

.footer {
    background-color: #f7f7f7;
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
}

.footer h4 {
    margin-bottom: 24px;
    color:  #6c6c6c;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-transform: uppercase;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

.contact-us {
    width: 221px;
}

.information {
    width: 422px;
}

.stay {
    width: 363px;
}

.copyright {
    background-color: #f7f7f7;
    padding-top: 59px;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.icons {
    width: 129px;
}

.icons a {
    text-decoration: none;
}

.copyright p {
    color:  #6c6c6c;
    font-size: 12px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-transform: uppercase;
}

.fa-telegram-plane {
    color:  #6c6c6c;
    font-size: 22px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 22px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    background-color: #ffffff;
}

.fa-telegram-plane:hover {
    color:  #212121;
}

input[placeholder="your mail address"] {
    outline: none;
}

form {
    position: relative;
}

input {
    width: 370px;
    height: 48px;
    padding: 0 50px 0 19px;
    box-sizing: border-box;
}

input[placeholder] {
    color:  #6c6c6c;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    line-height: 22px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}

button {
    position: absolute;
    left: 321px;
    top: 2px;
    border: none;
    width: 48px;
    height: 45px;
    background-color: #ffffff;
    outline: none;
}

.stay p {
    color:  #212121;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    line-height: 22px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-bottom: 26px;
}

.contact-us p {
    color:  #212121;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    line-height: 22px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.footer-menu li {
    list-style-type: none;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-transform: uppercase;
}

.footer-menu li a {
    text-decoration: none;
    color:  #212121;
}

.icon-twitter-with-circle:hover:before,
.icon-facebook-with-circle:hover:before,
.icon-google-with-circle:hover:before,
.icon-pinterest-with-circle:hover:before {
    color: #212121;
}

.prod-range {
    display: block;
    position: relative;
}

.prod-head {
    background-color:  #f5f5f5;
    height: 360px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.flex1 {
    flex: 1 1 500px;
}

.flex2 {
    flex: 1 1 467px;
    justify-content: space-between;
}

.flex3 {
    flex: 2 2 1000px;
    align-self: flex-end;
}

.prod .active-link{
    color:  #212121;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.prod a {
    color:  #6c6c6c;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    padding: 19px 30px 19px 12px;
    text-transform: uppercase;
}

.prod a:hover {
    color: #212121;
}

main .navi-new {
    padding-top: 71px;
}

.active {
    border-bottom: 1px solid #6c6c6c;
}

.navi-new .navi-left a[class="deactive"] {
    border-bottom: none;
}

.sync {
    display: flex;
    justify-content: center;
    margin-top: 71px;
}

.fa-sync-alt {
    color: #212121;
    font-size: 42px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.fa-sync-alt:hover {
    color: #6c6c6c;
}

.footer-menu ul li a:hover {
    color: #6c6c6c;
}

.flex3 h1 {
    color: #212121;
    font-size: 62px; /* Приближение из-за подстановки шрифтов */
    font-weight: 100;
    line-height: 72px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.det-head {
    height: 119px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.navi-det {
    background-color:  #f4f4f4;
    margin-top: 0;
}

.navi-det .navi-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navi-det .navi-left a {
    border: none;
}

.prod-price {
    margin-top: 71px;
    display: flex;
    flex-flow: row wrap;
}

.price-img {
    flex: 0 3 570px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.price-text {
    flex: 0 1 570px;
    height: 570px;
    text-align: center;
}

.slider1 {
    flex: 3 3 570px;
}

.slider-icons {
    flex: 0 1 70px;
}

.price-text .slider-text {
    margin-top: 0;
    justify-content: center;
}

.slider-text h3 {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.price-text a {
    display: inline-block;
    border-radius: 50px;
    background-color:  #f44336;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    text-align: center;
    padding: 24px 182px;
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 31px;
    margin-bottom: 49px;
}

.price-text a:hover {
    background-color: #bf3a2f;
    box-shadow: 0 4px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}

.price-text a:active {
    box-shadow: 0 0 4.85px 0.15px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
}

.price-text h3 {
    color: #212121;
    font-size: 35.98px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    transform: scaleY(1.0005); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}

.price-text h4 {
    color:  #e53935;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleY(1.0005);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}

.price-text .price {
    color:  #212121;
    font-size: 72px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 48px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleY(1.0005);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}

.price-text p {
    color: #212121;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    transform: scaleY(1.0005);
    width: 499px;
    height: 244px;
    margin-left: 40px;
}

.footer-margin {
    margin-top: 105px;
}

.contact-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 71px;
}

.contact-item1 {
    border-width: 1px;
    border-color:  #9c9c9c;
    border-style: solid;
    background-color:  #ffffff;
    opacity: 0.9;
    width: 368px;
    height: 368px;
    text-align: center;
    font-size: 14px;
}

.contact-item2 {
    border-width: 1px;
    border-color:  #9c9c9c;
    border-style: solid;
    background-color:  #ffffff;
    opacity: 0.9;
    width: 368px;
    height: 368px;
    text-align: center;
    font-size: 14px;
}

.contact-item3 {
    border-width: 1px;
    border-color:  #9c9c9c;
    border-style: solid;
    background-color:  #ffffff;
    opacity: 0.9;
    width: 368px;
    height: 368px;
    text-align: center;
    font-size: 14px;
}

.fa-map-marker-alt {
    color:  #212121;
    font-size: 48px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 30px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-top: 48px;
}

.contact-items h6 {
    color: #212121;
    font-size: 21.91px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 30px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleX(1.0041);
    margin-top: 34px;
    margin-bottom: 24px;
}

.tel, .email, .address {
    color: #6c6c6c;
    font-weight: 700;
    line-height: 20px;
    font-size: 14px;
}