.b-dignity__article {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  @media (min-width: 0px) and (max-width: 506px) {
    font-size: 14px;
  }
  @media (min-width: 0px) and (max-width: 424px) {
    font-size: 13px;
  }
}

.b-article__icon {
  color: #445161;
  font-size: 2.5em;
  margin-right: 10px;
}