@font-face {
  font-family: SocialIco;
  src: url("../fonts/Socialico.ttf");
}

@import "../library.blocks/_variables/variables";
@import "../library.blocks/mix.css";
@import "../common.blocks/header/header";
@import "../common.blocks/main/main";
@import "../common.blocks/footer/footer";



@media (min-width: 1200px) {
.container {
  max-width: 1280px;
}
}